@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

body {
  font-family: 'Raleway';
}

header {
  font-family: 'Raleway';
}

section {
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
}

.subheading {
  font-size: 1.5em;
  margin-bottom: 1.8em;
  text-transform: uppercase;
  color: rgb(179, 179, 179);
  font-weight: bold;
}

p{
  font-size: 1.2em;
  line-height: 1.4em;
}
