// custom.scss
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');
$font-family-sans-serif: 'Raleway';
// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
  xs: 0,
  sm: 456px,
  md: 789px,
  lg: 999px,
  xl: 1234px
);
// Override / set color variables
$blue: #3399ff;
$orange: hsl(337, 89%, 54%);


$primary: $blue;
$secondary: $orange;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';