<template>
<header class="nav-header">
  <b-navbar toggleable="lg" class="rcnav" fixed="top" type="success">
    <b-navbar-brand fluid>
        <b-link to="/"><b-img src="~assets/svg/rclogo_ss.svg" /></b-link>
</b-navbar-brand>

    <b-navbar-toggle target="nav_collapse"><font-awesome-icon class="custom-nav-icon" :icon="['fas', 'hamburger']"></font-awesome-icon></b-navbar-toggle>

    <b-collapse id="nav_collapse" is-nav> 
      <b-navbar-nav class="ml-auto">
        <b-nav-item href="/" right><div class="menu-list-item"><font-awesome-icon class="fa-1x menu-icons" :icon="['fas', 'home']"></font-awesome-icon> Home</div></b-nav-item>
        <b-nav-item href="/wie" right><div class="menu-list-item"><font-awesome-icon class="fa-1x menu-icons" :icon="['fas', 'user']"></font-awesome-icon> Wie</div></b-nav-item>
        <b-nav-item href="/portfolio" right><div class="menu-list-item"><font-awesome-icon class="fa-1x menu-icons" :icon="['fas', 'camera']"></font-awesome-icon> Portfolio</div></b-nav-item>
        <b-nav-item href="/cv" right><div class="menu-list-item"><font-awesome-icon class="fa-1x menu-icons" :icon="['fas', 'briefcase']"></font-awesome-icon> CV</div></b-nav-item>
        <b-nav-item href="/contact" right><div class="menu-list-item"><font-awesome-icon class="fa-1x menu-icons" :icon="['fas', 'address-card']"></font-awesome-icon> Contact</div></b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</header>
</template>

<script>
  
</script>

<style>
.rcnav {
  background-color: rgb(23, 117, 64);
}
.menu-list-item {
 color: rgb(255, 255, 255);
 outline: none;
 font-size: 1.2em;
 margin-right: .5em;
}
.menu-list-item:hover {
 color: rgba(255, 255, 255, .8);
 outline: none;
}
.menu-icons {
 color: rgb(255, 255, 255);
 outline: none;
 margin-right: .2em;
}
.menu-icons:hover {
 color: rgba(255, 255, 255, .8);
 outline: none;
}
.custom-nav-icon {
 color: rgb(255, 255, 255);
 outline: none;
 font-size: calc(1em + 3vw);
}

.custom-nav-icon:hover {
 color: rgba(255, 255, 255, .8);
 outline: none;
}
.nav-header {
  margin-bottom: 2em;
}
.navbar-brand img {
  max-width: 60vw;
}
</style>