<template>

  <div class="socbuttons">
    <ul>
      <li>
        <a href="tel:+31642621678">
          <font-awesome-icon class="fa-2x socbtn" :icon="['fas', 'phone']" />
        </a>
      </li>
      <li>
        <a href="https:/facebook.com/MontessorischoolBorger" target="_blank">
          <font-awesome-icon class="fa-2x socbtn" :icon="['fab', 'facebook']"></font-awesome-icon>
        </a>
      </li>
      <li>
        <a href="https://github.com/ReinierCaron" target="_blank">
        <font-awesome-icon class="fa-2x socbtn" :icon="['fab', 'github']"></font-awesome-icon>
        </a>
      </li>
      <li>
        <a href="https://codepen.io/ReinierCaron" target="_blank">
          <font-awesome-icon class="fa-2x socbtn" :icon="['fab', 'codepen']"></font-awesome-icon>
        </a>
      </li>
      <li>
        <a href="https://pinterest.com/reiniercaron" target="_blank">
          <font-awesome-icon class="fa-2x socbtn" :icon="['fab', 'pinterest']"></font-awesome-icon>
        </a>
      </li>
      <li>
        <a href="https://www.freecodecamp.com/reiniercaron" target="_blank">
          <font-awesome-icon class="fa-2x socbtn" :icon="['fab', 'free-code-camp']" />
        </a>
      </li>
    </ul>
  </div>

</template>

<script>

  export default {}

</script>

<style>
.socbuttons {
  display: grid;
  grid-template-columns: repeat(3, 2);
  padding-top: 1em;
  background-color: rgb(0, 0, 0, 0.4);
}

.socbuttons ul {
  justify-self: center;
  list-style-types: none;

}
.socbuttons li {
  display: inline;
}
.socbuttons li a {
  padding: .1em .1em;
  display: inline-block;
}
.socbtn a {
  color: rgb(0, 102, 255);
}
.socbtn a:hover {
  color: rgb(51, 153, 255);
}

</style>
