<template>
  <section class="container">
    <div>
      <logo />
      <h1 class="title">
        Contact
      </h1>
      <p class="subheading">
        Mijn contact gegevens...
      </p>
    
      <p>
        Incurreret summis voluptate iis et duis singulis quamquam, se vidisse
        consectetur nam appellat anim culpa cupidatat amet, iis amet cohaerescant aut
        ubi esse incididunt imitarentur ita legam vidisse ut familiaritatem, esse
        excepteur commodo. Quis quibusdam eu tempor export se possumus culpa a
        mandaremus efflorescere. Nescius praetermissum e commodo, quid quamquam e
        exquisitaque si aute qui appellat ex tamen, do expetendis de doctrina.Quis in
        doctrina quo nisi, excepteur se minim commodo ex do fugiat ullamco imitarentur
        sed admodum quo enim cernantur. Pariatur o elit occaecat de quae occaecat
        instituendarum. Doctrina quis ubi voluptate sempiternum nam id incurreret
        consectetur, nisi voluptate commodo, possumus aute labore incididunt aliqua o
        conseq
      </p>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >Documentation</a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  head() {
    return {
      title: 'Contact',
      meta: [
        { name: 'description', content: 'deze pagina bevat informatie over Reinier Caron.'},
        { name: 'keywords', content: 'over Reinier Caron, personalia van Reinier Caron, hobbies van Reinier Caron'},
      ]
    }
  }
}
</script>

<style>
</style>
