<template>
  <section class="container">
    <div>
      <logo />
      <h1 class="title">
        CV
      </h1>
      <p class="subheading">
        Mijn werkervaring
      </p>
      <p>
      aut proident, quid se
        probant non dolore ubi admodum elit ipsum cernantur aliqua ab sint fidelissimae
        laboris fore pariatur.
      </p>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >Documentation</a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  head() {
    return {
      title: 'Curiculum Vitae',
      meta: [
        { name: 'description', content: 'deze pagina bevat informatie over het curiculum vitae van Reinier Caron.'},
        { name: 'keywords', content: 'cv curriculum vitae'},
      ]
    }
  }
}
</script>

<style>

</style>
