<template>
  <section class="container">
    <div>
      <logo />
      <h1 class="title">
        Reinier Caron
      </h1>
      <p class="subheading">
        My Portfolio and more...
      </p>
      <p>
        Incurreret summis voluptate iis et duis singulis quamquam, se vidisse
        consectetur nam appellat anim culpa cupidatat amet, iis amet cohaerescant aut
        ubi esse incididunt imitarentur ita legam vidisse ut familiaritatem, esse
        excepteur commodo. Quis quibusdam eu tempor export se possumus culpa a
        mandaremus efflorescere. Nescius praetermissum e commodo, quid quamquam e
        exquisitaque si aute qui appellat ex tamen, do expetendis de doctrina.Quis in
        doctrina quo nisi, excepteur se minim commodo ex do fugiat ullamco imitarentur
        sed admodum quo enim cernantur. Pariatur o elit occaecat de quae occaecat
        instituendarum. Doctrina quis ubi voluptate sempiternum nam id incurreret
        consectetur, nisi voluptate commodo, possumus aute labore incididunt aliqua o
        consequat culpa labore cupidatat aliqua ad quid cupidatat non praesentibus,
        possumus hic dolor, summis in aliquip se multos. Voluptate aut proident, quid se
        probant non dolore ubi admodum elit ipsum cernantur aliqua ab sint fidelissimae
        laboris fore pariatur.
      </p>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >Documentation</a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  head() {
    return {
      title: 'Reinier Caron home',
      meta: [
        { name: 'description', content: 'deze pagina bevat informatie over Reinier Caron.'},
        { name: 'keywords', content: 'over Reinier Caron, personalia van Reinier Caron, hobbies van Reinier Caron'},
      ]
    }
  }
}

</script>

<style lang="scss">
  @import '~assets/custom.scss';
  @import '~bootstrap/scss/bootstrap.scss';
  @import '~bootstrap-vue/src/index.scss';

  body {
    margin: 0;
  }
  // ...
</style>
