<template>
  <section class="container">
    <div>
      <Logo />
      <h1 class="title">
        Portfolio
      </h1>
      <p class="subheading">
        voorbeelden van mijn werk
      </p>
      <p>
        qui appellat ex tamen, do expetendis de doctrina.Quis in
        doctrina quo nisi, excepteur se minim commodo ex do fugiat ullamco imitarentur
        sed admodum quo enim cernantur. Pariatur o elit occaecat de quae occaecat
        instituendarum. Doctrina quis ubi voluptate sempiternum nam id incurreret
        consectetur, nisi voluptate commodo, possumus aute labore incididunt aliqua o
        consequat culpa labore cupidatat aliqua ad quid cupidatat non praesentibus,
        possumus hic dolor, summis in aliquip se multos. Voluptate aut proident, quid se
        probant non dolore ubi admodum elit ipsum cernantur aliqua ab sint fidelissimae
        laboris fore pariatur.
      </p>
      <carousel />
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >Documentation</a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'
import Carousel from '~/components/Carousel.vue'

export default {
  components: {
    Logo,
    Carousel
  },
  head() {
    return {
      title: 'Portfolio',
      meta: [
        { name: 'description', content: 'deze pagina bevat informatie over Reinier Caron.'},
        { name: 'keywords', content: 'over Reinier Caron, personalia van Reinier Caron, hobbies van Reinier Caron'},
      ]
    }
  }
}
</script>

<style>

</style>
