<template>
  <section class="container">
    <div>
      <logo />
      <h1 class="title">
        Wie?
      </h1>
      <p class="subheading">
        Reinier Caron, bouwjaar 1976
      </p>
      <p>
        Incurreret summis voluptate iis et duis singulis quamquam, se vidisse
        consectetur nam appellat anim culpa cupidatat amet, iis amet cohaerescant aut
        ubi esse incididunt imitarentur ita legam vidisse ut familiaritatem, esse
        issimae
        laboris fore pariatur.
      </p>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green"
        >Documentation</a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey"
        >GitHub</a>
      </div>
    </div>
  </section>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  head() {
    return {
      title: 'Wie',
      meta: [
        { name: 'description', content: 'deze pagina bevat informatie over Reinier Caron.'},
        { name: 'keywords', content: 'over Reinier Caron, personalia van Reinier Caron, hobbies van Reinier Caron'},
      ]
    }
  }
}
</script>

<style>

</style>
